.array-container {
    position:relative;
    margin: auto;
    width: 50%;
    padding-top: 20px;
    
}

.array-bar {
    width: 15px;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

.fa {
  padding: 1px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 30px 10px;
  border-radius: 50%;
}

body{
  background-color:white;
}


button {
  position: relative;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    position:relative;
    
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

@media only screen and (max-width: 600px) {
  .array-container {
    position:relative;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    
}

.array-bar {
    width: 5px;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


button {
  position: relative;
    display: inline-block;
    border: none;
    padding: 0.5rem 0.1rem;
    margin: 1px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    position:relative;
    
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
}